.profile__info {
    display: grid;
    grid-template-columns: 88% 24px;
    column-gap: 18px;
    row-gap: 7px;
}

@media screen and (max-width: 650px) {
    .profile__info {
        margin-top: 26px;
        column-gap: 10px;
        row-gap: 5px;
        padding-left: 30px;
    }
}