.popup__button_type_auth {
    background: #fff;
    color: #000;
    margin-top: 174px;
}

@media screen and (max-width: 1280px) {
    .popup__button_type_auth {
        font-size: calc((100vw - 320px) / (1280 - 320) * (18 - 16) + 16px);
    }
}

@media screen and (max-width: 650px) {
    .popup__button_type_auth {
        margin-top: 134px;
    }
}